<div class="sidebar">
    <div class="top">
        <span class="title_text">
            Aditya Co.
        </span>
    </div>
    <div class="menu">
        <div [ngClass]="'menu_item'">
            <button mat-button class="menu-button" routerLink="/dashbaord" routerLinkActive="active">
                <mat-icon id="dash_board">dashboard</mat-icon>
                <span>Dashboard</span>
            </button>
            <div>
                <button mat-button class="menu-button" (click)="masterDropdown()">
                    <mat-icon>card_travel</mat-icon>
                    <span> Master Entry</span>
                    <mat-icon [hidden]="action_icon2">chevron_right</mat-icon>
                    <mat-icon [hidden]="action_icon1">expand_more</mat-icon>

                </button>
                <div style=" background-color:#14595c; color:whitesmoke;" id="dropdown_item">
                    <button mat-button class="menu-button" routerLink="/party" routerLinkActive="active">
                        <mat-icon>person</mat-icon>
                        <span>Party</span>
                    </button>
                    <button mat-button class="menu-button" routerLink="/unit" routerLinkActive="active">
                        <mat-icon> ac_unit</mat-icon>
                        <span>Unit</span>
                    </button>

                    <button mat-button class="menu-button" routerLink="/gst" routerLinkActive="active">
                        <mat-icon>category</mat-icon>
                        <span>GST</span>
                    </button>

                    <button mat-button class="menu-button" routerLink="/weigth" routerLinkActive="active">
                        <mat-icon>line_weight</mat-icon>
                        <span>Weight</span>
                    </button>

                    <button mat-button class="menu-button" routerLink="/size" routerLinkActive="active">
                        <mat-icon>category</mat-icon>
                        <span>Size</span>
                    </button>

                    <button mat-button class="menu-button" routerLink="/category" routerLinkActive="active">
                        <mat-icon>category</mat-icon>
                        <span>Category</span>
                    </button>

                    <button mat-button class="menu-button" routerLink="/item" routerLinkActive="active">
                        <mat-icon>group_work</mat-icon>
                        <span>Item</span>
                    </button>

                    <button mat-button class="menu-button" routerLink="/product" routerLinkActive="active">
                        <mat-icon>area_chart</mat-icon>
                        <span>Product</span>
                    </button>

                    <button mat-button class="menu-button" routerLink="/employee" routerLinkActive="active">
                        <mat-icon>people</mat-icon>
                        <span>Employee</span>
                    </button>
                    <button mat-button class="menu-button" routerLink="/customer" routerLinkActive="active">
                        <mat-icon> supervisor_account </mat-icon>
                        <span>Customer</span>
                    </button>
                    <button mat-button class="menu-button" routerLink="/area" routerLinkActive="active">
                        <mat-icon>location_on</mat-icon>
                        <span>Area</span>
                    </button>


                </div>
            </div>
        </div>
        <button mat-button class="menu-button" routerLink="/purchase" routerLinkActive="active">
            <mat-icon>shoping</mat-icon>
            <span>Purchase</span>
        </button>
        <button mat-button class="menu-button" routerLink="/material_handover" routerLinkActive="active">
            <mat-icon>gradient</mat-icon>
            <span>Material Handover</span>
        </button>
        <button mat-button class="menu-button" routerLink="/production" routerLinkActive="active">
            <mat-icon>business</mat-icon>
            <span>Production</span>
        </button>
        <button mat-button class="menu-button" routerLink="/area_allocate" routerLinkActive="active">
            <!-- <mat-icon>area_chart</mat-icon> -->
            <mat-icon> location_on</mat-icon>
            <span>Area Allocate</span>
        </button>
        <button mat-button class="menu-button" routerLink="/sale" routerLinkActive="active">
            <mat-icon>local_grocery_store</mat-icon>
            <span>Sale</span>
        </button>
        <button mat-button class="menu-button" routerLink="/dues" routerLinkActive="active">
            <mat-icon>payment</mat-icon>
            <span>Dues</span>
        </button>
        <button mat-button class="menu-button" routerLink="/reciept" routerLinkActive="active">
            <mat-icon>receipt</mat-icon>
            <span>Reciept</span>
        </button>
        <button mat-button class="menu-button" routerLink="/account" routerLinkActive="active">
            <mat-icon>account_circle</mat-icon>
            <span>Account </span>
        </button>
        <button mat-button class="menu-button" routerLink="/expense" routerLinkActive="active">
            <mat-icon>monetization_on</mat-icon>
            <span>Expense</span>
        </button>
        <div>
            <button mat-button class="menu-button" (click)="report_dropdown()">
                <mat-icon>card_travel</mat-icon>
                <span>Report</span>
                <mat-icon [hidden]="action_icon3">chevron_right</mat-icon>
                <mat-icon [hidden]="action_icon4">expand_more</mat-icon>
            </button>
            <div style="background-color:#14595c; color:whitesmoke;" id="report_dropdown_item">
                <button mat-button class="menu-button" routerLink="/purchase_report" routerLinkActive="active">
                    <mat-icon>area_chart</mat-icon>
                    <span>Purchase Report </span>
                </button>
                <button mat-button class="menu-button" routerLink="/sale_report" routerLinkActive="active">
                    <mat-icon> local_offer </mat-icon>
                    <span>Sale Report </span>
                </button>
                <button mat-button class="menu-button" routerLink="/stock_report" routerLinkActive="active">
                    <mat-icon>local_grocery_store</mat-icon>
                    <span>Stock Report </span>
                </button>
              
                <button mat-button class="menu-button" routerLink="/purchase_cancel" routerLinkActive="active">
                    <mat-icon> cancel </mat-icon>
                    <span>Purchase Cancel </span>
                </button>
                <button mat-button class="menu-button" routerLink="/sale_cancel" routerLinkActive="active">
                    <mat-icon> cancel </mat-icon>
                    <span>Sale Cancel </span>
                </button>
            </div>
        </div>