    .column {
        margin-right:10px;
        width:199px;
        height: 300px;
        float: left;
    }
    .example-spacer {
        flex: 1 1 auto;
    }

    .date_box {
        width: 200px;
    }

    .reset_btn {
    width: 80px;
    height: 40px;
    float: left; 
    margin-left: px;   
    margin-top: 12px; 
  }
    .add_btn {
    width: 80px;
    height: 40px;    
    float: right;
    background-color: green;
    color: white;
    margin-top: 12px;
  }
    mat-toolbar {
        height: 40px;
        background: none;
        margin-bottom:11px;
        color: #14595c; 
        padding: 0px;
        position: relative;
        margin-top: -12px;
    }
    @media (max-width: 576px) {
        .mat-form-field{
            width: 100%;
        } 
        
    }
  