<mat-toolbar>
    <span class="example-spacer">Add Account</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div>
    <form [formGroup]="addAccount">
        <div class="column">
            <input type="number" formControlName="account_id" readonly hidden>
            <mat-form-field appearance="fill">
                <mat-label>Cash In Hand </mat-label>
                <input formControlName="cash_in_hand" matInput placeholder="Cash in Hand" type="number" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Today sale</mat-label>
                <input formControlName="today_sale" matInput placeholder="Today Sale"  type="number" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Expense</mat-label>
                <input formControlName="expense" matInput placeholder="Expense" type="number">
            </mat-form-field>    
        </div>
        <div class="column">
            <mat-form-field appearance="fill">
                <mat-label>Deposit into Bank</mat-label>
                <input formControlName="deposit_into_bank" matInput placeholder="Deposit into Bank" type="number" (keyup)="disp_in_bank()">
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <mat-label>Closing Amount</mat-label>
                <input formControlName="closing_amount" matInput placeholder="Closing Amount" type="number" readonly>
            </mat-form-field><br>


              
        

            <mat-form-field>
                <input  matInput [matDatepicker]="datepicker" required placeholder="Choose a date" (dateChange)="valueChanged($event)">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
              </mat-form-field>

              <input hidden formControlName="account_date"  type="date">
        </div>      
            <br>
      <mat-form-field appearance="fill" class="full_txtbox">
            <mat-label>Description</mat-label>
            <input formControlName="account_desc" matInput placeholder="Description">
        </mat-form-field>
        <div mat-dialog-action [align]="'end'" id="main_button">
            <button mat-raised-button color="warn" (click)="resetaccount()" class="reset_btn">Reset</button>
            <button mat-raised-button (click)="onSubmit()" class="add_btn" type="submit"
                [disabled]="!addAccount.valid">{{actionBtn}}</button>
        </div>
        <input formControlName="admin_id_fk" type="number" ngModel={{admin_id}} readonly hidden>
    </form>
</div>