    .column {
        width: 200px;
        height: auto;
        float: left;
    }

    .column mat-form-field {
        width: 90%;
    }

    .full_txtbox {
        width: 96%;
    }

    form {
        padding-left: 18px;
    }

    .example-spacer {
        flex: 1 1 auto;
        margin-bottom: 20px;
        color: rgb(20, 89, 92);
        font-size: 18px;
    }

    .material-icons {
        color: rgb(20, 89, 92);
        margin-bottom: 20px;
    }


    .date_box {
        width: 180px;
        border: none;
        border-radius: 3px 3px 0px 0px;
        color: gray;
        border-bottom: 1px solid gray;
        background-color: #f5f5f5;
        padding: 0px 10px 0px 10px;
        height: 52px;

    }

    .column_1 mat-form-field {
        width: 382px;
    }

    #main_button {
        width: 190px;
        margin: auto;
    }

    .reset_btn {
        float: left;
        width: 80px;
        height: 40px;

    }

    .add_btn {
        width: 80px;
        height: 40px;
        float: right;
        background-color: green;
        color: white;
    }

    .full_txtbox mat-form-field {
        width: 100vw;
        margin-top: 22px;
    }

    mat-toolbar {
        height: 40px;
        background: none;
        color: #14595c;
        padding: 0px;
        position: relative;
    }


    @media (max-width: 583px) {
        .column {
            width: 100%;
            height: auto;
        }

        form {
            padding-left: 0px;
        }

        .column mat-form-field {
            width: 100%;
        }

        .column_1 mat-form-field {
            width: 100%;
        }
    }