.column {
  margin-right: 5px;
  width: 215px;
  height: 285px;
  float: left;
  padding-left: 10px;

}

textarea {
  height: 18px;
}

.example-spacer {
  flex: 1 1 auto;
  margin-bottom: 20px;
  color: rgb(20, 89, 92);
  font-size: 18px;
}

.material-icons {
  color: rgb(20, 89, 92);
  margin-bottom: 20px;
}

#main_button{
  width: 190px;
  margin: auto;
}
.reset_btn {
  width: 80px;
  height: 40px;
  float: left;
}

.add_btn {
  width: 80px;
  height: 40px;
  float: right;
  color: white;
  background-color: green;
}

mat-toolbar {
  height: 40px;
  background: none;
  color: whitesmoke;
  padding: 0px;
  position: relative;
}

@media(max-width:767px) {
  .column {
    width: 100%;
    height: auto;
    padding: 0px;
  }

  .column mat-form-field {
    width: 100%;
  }

}