<div class="salediv">
	<div class="view_notice">
		<span class="notice_text">{{action_text}}</span>
	</div>

	<nav ngbNav #nav="ngbNav" class="nav-tabs" style="height: 46px;">
		<!-- //////////////////////// for customer table data start ///////////////// -->
		<ng-container ngbNavItem>
			<a ngbNavLink
				style="background-color:#05363c; border-radius: 5px; height:37px;color: whitesmoke;margin-left: 5px; margin-right: 5px;font-size: 14px;"
				(click)="cus()">Customer</a>
			<ng-template ngbNavContent>
				<div class="content_area">
					<form [formGroup]="saleformcust">
						<div class="column">

							<mat-form-field appearance="fill">
								<mat-label>Customer Id</mat-label>
								<input formControlName="cust_id" matInput placeholder="Customer Id">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Customer</mat-label>
								<mat-select formControlName="cust_id" (valueChange)="getCust($event)"
									[disabled]="this.draft_data.status == 1">
									<mat-option *ngFor="let cust of cust_data"
										[value]="cust.cust_id">{{cust.cust_name}}</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Mobile</mat-label>
								<input type="number" formControlName="cust_contact_no" matInput placeholder="Mobile"
									readonly>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Email</mat-label>
								<input type="email" formControlName="cust_email" matInput placeholder="Email" readonly>
							</mat-form-field>
							<br>
						</div>
						<div class="column_1">

							<mat-form-field appearance="fill" class="textarea_box">
								<mat-label>Address</mat-label>
								<textarea type="text" formControlName="cust_shop_address" matInput placeholder="Address"
									readonly></textarea>
							</mat-form-field>
						</div>
						<input formControlName="admin_id_fk" matInput placeholder="Name" readonly [ngModel]="admin_id"
							hidden>

					</form>
					<div mat-dialog-action [align]="'end'" id="main_button">
						<button [hidden]="sale_action_btn" mat-raised-button (click)="AddCustomer()" class="add_btn"
							type="submit" style="background-color: #0d5e58; color: white;"
							[disabled]="!saleformcust.valid">{{actionBtn}}</button>
					</div>
				</div>
			</ng-template>
		</ng-container>
		<!-- //////////////////////// for customer table data end ///////////////// -->
		<!-- //////////////////////// for item table data start ///////////////// -->
		<ng-container ngbNavItem>
			<a ngbNavLink
				style="background-color:#05363c; border-radius: 5px; color: whitesmoke; height:37px;margin-right: 5px; font-size: 14px;"
				(click)="prod()">Product</a>
			<ng-template ngbNavContent>
				<div class="content_area">
					<form [formGroup]="saleformprod">
						<div class="column">
							<input formControlName="admin_id_fk" matInput placeholder="Admin id" readonly
								[ngModel]="admin_id" hidden>


							<mat-form-field appearance="fill">
								<mat-label>Customer</mat-label>
								<input formControlName="cust_name" matInput placeholder="Name" readonly>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Category</mat-label>
								<mat-select formControlName="cat_id" (valueChange)="getCat($event)"
									[disabled]="this.draft_data.status == 1">
									<mat-option *ngFor="let cat of cat_data"
										[value]="cat.cat_id">{{cat.cat_name}}</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Product</mat-label>
								<mat-select formControlName="product_id" (valueChange)="getProd($event)"
									[disabled]="this.draft_data.status == 1">
									<mat-option *ngFor="let prod of prod_data"
										[value]="prod.product_id">{{prod.product_name}}</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Size</mat-label>
								<input formControlName="product_size_id" matInput placeholder="Size" readonly>
							</mat-form-field>
						</div>
						<div class="column">

							<mat-form-field appearance="fill">
								<mat-label>Weight</mat-label>
								<input formControlName="product_weight_id" matInput placeholder="Weight" readonly>
							</mat-form-field>
							<!-- <br> -->
							<mat-form-field appearance="fill">
								<mat-label>Unit</mat-label>
								<input formControlName="product_unit_id" matInput placeholder="unit" readonly>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Page</mat-label>
								<input formControlName="product_page" matInput placeholder="Page" readonly>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Rate</mat-label>
								<input formControlName="product_rate" matInput placeholder="unit"
									(keyup)="desc_amt_cal()">
							</mat-form-field>
						</div>
						<div class="column_first">
							
							<mat-form-field appearance="fill">
								<mat-label>Available Quantity</mat-label>
								<input formControlName="available_quantity" matInput placeholder="available quantity" readonly>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Quantity</mat-label>
								<input formControlName="product_quantity" matInput placeholder="Quantity"
									(keyup)="desc_amt_cal()">
							</mat-form-field>
							

							<mat-form-field appearance="fill">
								<mat-label>Total Amount</mat-label>
								<input formControlName="product_total_amount" matInput placeholder="Total Amount"
									readonly>
							</mat-form-field>
							<br>


							<mat-icon [hidden]="sale_action_btn" class="addButton" (click)="AddProduct()">add</mat-icon>
						</div>
					</form>

					<!-- /////////////// for sale description /////////////////// -->
					<div class="cotainer">
						<div class="count_search">
							<span class="notice_text"> Total :{{sale_desc}}</span>
							<div class="search">
								<input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
							</div>
						</div>
						<div id="table_area">
							<form>
								<div class="mat-elevation-z8">
									<table mat-table [dataSource]="dataSource" matSort id="table">
										<ng-container matColumnDef="slno">
											<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>S.N.</th>
											<td class="data" mat-cell *matCellDef="let row; let i = index;">
												{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
										</ng-container>


										<ng-container matColumnDef="cat_name">
											<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Category
											</th>
											<td class="data" mat-cell *matCellDef="let row">{{row.cat_name}}</td>
										</ng-container>

										<ng-container matColumnDef="product_name">
											<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Product
												Name
											</th>
											<td class="data" mat-cell *matCellDef="let row">{{row.product_name}}</td>
										</ng-container>

										<ng-container matColumnDef="product_rate">
											<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
											<td class="data" mat-cell *matCellDef="let row">{{row.sale_rate}}</td>
										</ng-container>

										<ng-container matColumnDef="product_quantity">
											<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Quantity
											</th>
											<td class="data" mat-cell *matCellDef="let row">{{row.sale_dec_quantity}}
											</td>
										</ng-container>

										<ng-container matColumnDef="product_amount">
											<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Amount
											</th>
											<td class="data" mat-cell *matCellDef="let row">
												{{row.sale_dec_total_amount}}
											</td>
										</ng-container>

										<ng-container matColumnDef="Action">
											<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Action
											</th>
											<td class="data" mat-cell *matCellDef="let row"> <mat-icon
													(click)="deleteDesc(row)"
													[hidden]="this.draft_data.status == 1">delete</mat-icon>
											</td>
										</ng-container>

										<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
										<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
										<tr class="mat-row" *matNoDataRow>
											<td class="mat-cell" colspan="7">No data show</td>
										</tr>
									</table>
								</div>
							</form>
						</div>
						<mat-paginator #paginatorRef [pageSizeOptions]="[5]"
							aria-label="Select page of users"></mat-paginator>
					</div>
				</div>

			</ng-template>
		</ng-container>
		<!-- //////////////////////// for item table data end ///////////////// -->
		<!-- //////////////////////// for final bill  table data start ///////////////// -->

		<ng-container ngbNavItem><br>
			<a ngbNavLink (click)="final_bill()"
				style="background-color:#05363c; border-radius: 5px;color: whitesmoke; height:37px; font-size:14px">Final
				bill</a>
			<button id="billnobtn">Bill Ref.No:{{sale_bill_no}}</button>
			<ng-template ngbNavContent>
				<div class="content_area">
					<form [formGroup]="saleformfinal">
						<input formControlName="admin_id_fk" matInput placeholder="Name" readonly [ngModel]="admin_id"
							hidden>
						<div class="column">

							<mat-form-field appearance="fill">
								<mat-label>Basic Amount</mat-label>
								<input type="number" formControlName="sale_total_amount" matInput
									placeholder="Basic Amount" readonly>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Discount(%)</mat-label>
								<input type="number" formControlName="sale_discount" matInput placeholder="Discount(%)"
									(keyup)="disc_amt_cal()" [readonly]="this.draft_data.status == 1">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>GST(%)</mat-label>
								<mat-select formControlName="sale_gst" (valueChange)="gst_amt_cal($event)"
									[disabled]="this.draft_data.status == 1">
									<mat-option *ngFor="let gst of gst_data"
										[value]="gst.gst_in_percentage">{{gst.gst_in_percentage}}</mat-option>
								</mat-select>
							</mat-form-field>
							<!-- <br> -->
							<mat-form-field appearance="fill">
								<mat-label>Payable Amount</mat-label>
								<input type="number" formControlName="sale_gross_amount" matInput
									placeholder="Payable Amount" [readonly]="this.draft_data.status == 1">
							</mat-form-field>
						</div>
						<div class="column_first">

							<mat-form-field appearance="fill">
								<mat-label>Paid</mat-label>
								<input type="number" formControlName="sale_paid" matInput placeholder="Paid Amount"
									(keyup)="paid_amt_cal()" [readonly]="this.draft_data.status == 1">
							</mat-form-field>
							<mat-form-field appearance="fill">
								<mat-label>Dues</mat-label>
								<input type="number" formControlName="sale_dues" matInput placeholder="Dues">
							</mat-form-field>
							<!-- <br> -->
							<input type="date" formControlName="sale_date" id="formdate"
								[readOnly]="this.draft_data.status == 1">

							<!-- ---------------------------------------------Change--------------------------------------- -->
							<div mat-dialog-action [align]="'end'" class="btn_div">
								<button [hidden]="sale_action_btn" mat-raised-button (click)="finalsubmit()"
									class="submitbtn" type="submit" [disabled]="!saleformfinal.valid">{{actionBTN}}<p>
										Final
										Submit</p></button>
							</div>
						</div>
					</form>
				</div>
			</ng-template>
		</ng-container>
		<!-- //////////////////////// for final bill  table data end ///////////////// -->

	</nav>
	<div [ngbNavOutlet]="nav" class="mt-2"></div>
	<!-- <div class="footer">Powered by :Greensoft</div> -->
</div>