<div class="salediv">
	<div class="view_notice">
		<span class="notice_text">{{action_text}}</span>
	</div>

	<nav ngbNav #nav="ngbNav" class="nav-tabs" style="height: 46px;">
		<!-- //////////////////////// for customer table data start ///////////////// -->
		<ng-container ngbNavItem>
			<a ngbNavLink
				style="background-color:#05363c; border-radius: 5px; height:37px;color: whitesmoke;margin-left: 5px; margin-right: 5px;font-size: 14px;"
				(click)="cus()">Customer</a>
			<ng-template ngbNavContent>
				<div class="content_area">
					<form [formGroup]="saleformcust">
						<div class="column">

							<mat-form-field appearance="fill">
								<mat-label>Customer Id</mat-label>
								<input formControlName="cust_id" matInput placeholder="Customer Id">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Customer</mat-label>
								<mat-select formControlName="cust_id" (valueChange)="getCust($event)">
									<mat-option *ngFor="let cust of cust_data"
										[value]="cust.cust_id">{{cust.cust_name}}</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Mobile</mat-label>
								<input type="number" formControlName="cust_contact_no" matInput placeholder="Mobile">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Email</mat-label>
								<input type="email" formControlName="cust_email" matInput placeholder="Email">
							</mat-form-field>
							<br>
							<mat-form-field appearance="fill" class="textarea_box">
								<mat-label>Address</mat-label>
								<textarea type="text" formControlName="cust_shop_address" matInput
									placeholder="Address"></textarea>
							</mat-form-field>
						</div>
					</form>
					<div mat-dialog-action [align]="'end'">
						<button mat-raised-button (click)="onSubmit()" class="add_btn" type="submit"
							style="background-color: #0d5e58; color: white;"
							[disabled]="!saleformcust.valid">{{actionBtn}}</button>
					</div>
				</div>
			</ng-template>
		</ng-container>
		<!-- //////////////////////// for customer table data end ///////////////// -->
		<!-- //////////////////////// for item table data start ///////////////// -->
		<ng-container ngbNavItem>
			<a ngbNavLink
				style="background-color:#05363c; border-radius: 5px; color: whitesmoke; height:37px;margin-right: 5px; font-size: 14px;"
				(click)="prod()">Product</a>
			<ng-template ngbNavContent>
				<div class="content_area">
					<form [formGroup]="saleformprod">
						<div class="column">
							<input formControlName="admin_id_fk" matInput placeholder="Name" readonly
								[ngModel]="admin_id" hidden>

							<mat-form-field appearance="fill">
								<mat-label>Customer</mat-label>
								<input formControlName="cust_id_fk" matInput placeholder="Name">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Category</mat-label>
								<mat-select formControlName="cat_id" (valueChange)="getCat($event)">
									<mat-option *ngFor="let cat of cat_data"
										[value]="cat.cat_id">{{cat.cat_name}}</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Product</mat-label>
								<mat-select formControlName="product_id" (valueChange)="getProd($event)">
									<mat-option *ngFor="let prod of prod_data"
										[value]="prod.product_id">{{prod.product_name}}</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Unit</mat-label>
								<input formControlName="product_unit_id_fk" matInput placeholder="unit">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Size</mat-label>
								<input formControlName="product_size_id_fk" matInput placeholder="Size">
							</mat-form-field><br>

							<mat-form-field appearance="fill">
								<mat-label>Weight</mat-label>
								<input formControlName="product_weight_id_fk" matInput placeholder="Weight">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Page</mat-label>
								<input formControlName="product_page" matInput placeholder="Page">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Production Cost</mat-label>
								<input formControlName="product_produ_cost" matInput placeholder="Production Cost">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Cost</mat-label>
								<input formControlName="product_cost_price" matInput placeholder="Cost">
							</mat-form-field>

							<mat-form-field appearance="fill" class="text_amount">
								<mat-label>Retail</mat-label>
								<input formControlName="product_retail_price" matInput placeholder="Retail">
							</mat-form-field><br>
							<mat-icon class="addButton" (click)="onAdd()">add</mat-icon>
						</div>
					</form>

					<!-- /////////////// for sale description /////////////////// -->
					<div class="cotainer">
						<form>
							<div class="mat-elevation-z8">
								<table mat-table [dataSource]="dataSource" matSort id="table">
									<ng-container matColumnDef="slno">
										<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>SL NO.</th>
										<td class="data" mat-cell *matCellDef="let row; let i = index;">
											{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
									</ng-container>

									<ng-container matColumnDef="cust_name">
										<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
										<td class="data" mat-cell *matCellDef="let row">{{row.cust_id_fk}}</td>
									</ng-container>

									<ng-container matColumnDef="product_id">
										<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Product Name
										</th>
										<td class="data" mat-cell *matCellDef="let row">{{row.product_id_fk}}</td>
									</ng-container>

									<ng-container matColumnDef="product_unit_id_fk">
										<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Unit
										</th>
										<td class="data" mat-cell *matCellDef="let row">{{row.product_unit_id_fk}}</td>
									</ng-container>

									<ng-container matColumnDef="product_size_id_fk">
										<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Size
										</th>
										<td class="data" mat-cell *matCellDef="let row">{{row.product_size_id_fk}}</td>
									</ng-container>

									<ng-container matColumnDef="product_weight_id_fk">
										<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
										<td class="data" mat-cell *matCellDef="let row">{{row.product_weight_id_fk}}
										</td>
									</ng-container>

									<ng-container matColumnDef="product_page">
										<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Page</th>
										<td class="data" mat-cell *matCellDef="let row">{{row.product_page}}</td>
									</ng-container>

									<ng-container matColumnDef="product_produ_cost">
										<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Production
											Cost</th>
										<td class="data" mat-cell *matCellDef="let row">{{row.product_produ_cost}}</td>
									</ng-container>
									<ng-container matColumnDef="product_cost_price">
										<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Cost
										</th>
										<td class="data" mat-cell *matCellDef="let row">{{row.product_cost_price}}</td>
									</ng-container>

									<ng-container matColumnDef="product_retail_price">
										<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Retail
										</th>
										<td class="data" mat-cell *matCellDef="let row">{{row.product_retail_price}}
										</td>
									</ng-container>

									<ng-container matColumnDef="Action">
										<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
										<td class="data" mat-cell *matCellDef="let row"> <mat-icon>delete</mat-icon>
										</td>
									</ng-container>

									<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
									<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
									<tr class="mat-row" *matNoDataRow>
										<td class="mat-cell" colspan="4">No data show</td>
									</tr>
								</table>
								<mat-paginator #paginatorRef [pageSizeOptions]="[5]"
									aria-label="Select page of users"></mat-paginator>
							</div>
						</form>
					</div>
				</div>

			</ng-template>
		</ng-container>
		<!-- //////////////////////// for item table data end ///////////////// -->
		<!-- //////////////////////// for final bill  table data start ///////////////// -->

		<ng-container ngbNavItem><br>
			<a ngbNavLink (click)="final_bill()"
				style="background-color:#05363c; border-radius: 5px;color: whitesmoke; height:37px; font-size:14px"
				(click)="getfinal()">Final bill</a>
			<button id="billnobtn">Bill Ref.No:{{sale_bill_no}}</button>
			<ng-template ngbNavContent>
				<div class="content_area">
					<form [formGroup]="saleform">
						<input formControlName="admin_id_fk" matInput placeholder="Name" readonly [ngModel]="admin_id"
							hidden>
						<div class="column">

							<mat-form-field appearance="fill">
								<mat-label>Sale by:</mat-label>
								<input formControlName="cust_id" matInput placeholder="Sale by">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Basic Amount</mat-label>
								<input formControlName="item_basic_amount" matInput placeholder="Basic Amount">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>GST</mat-label>
								<input formControlName="item_gst" matInput placeholder="GST">
							</mat-form-field>
							
							<mat-form-field appearance="fill">
								<mat-label>SGST</mat-label>
								<input formControlName="item_sgst" matInput placeholder="SGST">
							</mat-form-field>
							<br>
							<mat-form-field appearance="fill">
								<mat-label>CGST</mat-label>
								<input formControlName="item_cgst" matInput placeholder="CGST">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Amount</mat-label>
								<input formControlName="item_amount" matInput placeholder="Amount">
							</mat-form-field>
							
							<mat-form-field appearance="fill">
								<mat-label>Backdues</mat-label>
								<input formControlName="item_backdues" matInput placeholder="Backdues">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>R/O</mat-label>
								<input formControlName="item_ro" matInput placeholder="RO">
							</mat-form-field>
							<br>
							<mat-form-field appearance="fill">
								<mat-label>Total Amount</mat-label>
								<input formControlName="item_total_amount" matInput placeholder="Net amount">
							</mat-form-field>
						
							<mat-form-field appearance="fill">
								<mat-label>Paid</mat-label>
								<input formControlName="item_paid_amount" matInput placeholder="Paid">
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Dues</mat-label>
								<input formControlName="item_dues" matInput placeholder="Dues">
							</mat-form-field>

							<mat-form-field appearance="fill" class="date_box">
								<mat-label>Date</mat-label>
								<input formControlName="final_bill_date" matInput [matDatepicker]="picker">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
							</mat-form-field>
							
						</div>
						<!-- ---------------------------------------------Change--------------------------------------- -->
						<div mat-dialog-action [align]="'end'">
							<button mat-raised-button (click)="finalsubmit()" class="submitbtn" type="submit"
								[disabled]="!saleform.valid">{{actionBTN}}<p>Final Submit</p></button>
						</div>
					</form>
				</div>
			</ng-template>
		</ng-container>
		<!-- //////////////////////// for final bill  table data end ///////////////// -->

	</nav>
	<div [ngbNavOutlet]="nav" class="mt-2"></div>
	<!-- <div class="footer">Powered by :Greensoft</div> -->
</div>