<div id="wrapper">
  <div class="view_notice">
    <span class="notice_text">Purchase Cancel Details :</span>
  </div>
  <div class="count_search">
    <span class="notice_tex"> Total :</span>
    <div class="search">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </div>
  </div>
  <div class="cotainer">
    <form>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort id="table">
          <ng-container matColumnDef="slno">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>S.N.</th>
            <td class="data" mat-cell *matCellDef="let row; let i = index;">{{(paginatorRef.pageIndex *
              paginatorRef.pageSize)+(i+1)}}</td>
          </ng-container>

          <ng-container matColumnDef="party_name">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Party</th>
            <td class="data" mat-cell *matCellDef="let row">{{row.party_name}}</td>
          </ng-container>

          <ng-container matColumnDef="purch_bill_no">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Bill no.</th>
            <td class="data" mat-cell *matCellDef="let row">{{row.purch_bill_no}}</td>
          </ng-container>

          <ng-container matColumnDef="basic_amount">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td class="data" mat-cell *matCellDef="let row">{{row.purch_gross_amount}}</td>
          </ng-container>

          <ng-container matColumnDef="cancel_reasion">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Cancel Reasion</th>
            <td class="data" mat-cell *matCellDef="let row">{{row.cancel_reason}}</td>
          </ng-container>
          <ng-container matColumnDef="purch_memo_no">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Memo No</th>
            <td class="data" mat-cell *matCellDef="let row">{{row.purch_memo_no}}</td>
          </ng-container>

          <ng-container matColumnDef="purch_date">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td class="data" mat-cell *matCellDef="let row">
              <mat-icon >{{row.purch_date}}</mat-icon>
            </td>
          </ng-container>       

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data show"{{input.value}}"</td>
          </tr>

       

        </table>
        <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]"
          aria-label="Select page of users"></mat-paginator>
      </div>
    </form>
  </div>

</div>