<div id="wrapper">
<div class="view_notice">
  <span class="notice_text">Party Details</span>
  <mat-icon id="add_party" (click)="add_party()">add_circle</mat-icon>
</div>
  <div class="count_search">
    <span class="notice_text"> Total : {{partycount}}</span>       
    <div class="search">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </div>
  </div>
  <div class="cotainer">
    <form>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort id="table">    
          <ng-container matColumnDef="slno">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>S.N.</th>
            <td class="data" mat-cell *matCellDef="let row; let i = index;">{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
          </ng-container>    
          <ng-container matColumnDef="party_name">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td  class="data"mat-cell *matCellDef="let row">{{row.party_name}}</td>
          </ng-container> 

          <ng-container matColumnDef="party_mobile">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
            <td  class="data"mat-cell *matCellDef="let row">{{row.party_mobile}}</td>
          </ng-container>

          <ng-container matColumnDef="party_address">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td class="data" mat-cell *matCellDef="let row">{{row.party_address}}</td>
          </ng-container>

          <ng-container matColumnDef="party_contact_person">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Contact Person</th>
            <td class="data" mat-cell *matCellDef="let row">{{row.party_contact_person}}</td>
          </ng-container>
         
          <ng-container matColumnDef="Action">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td class="data" mat-cell *matCellDef="let row"> 
              <mat-icon (click)="editparty(row)">edit</mat-icon>
              <mat-icon (click)="delparty(row)">delete</mat-icon>
              <!-- <mat-icon (click)="open(content)">delete</mat-icon> -->
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">No data show"{{input.value}}"</td>
          </tr>
        </table>    
        <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>    
    </form>
  </div>
  </div>


  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Are you sure to delete </h4>
    </div> 
    <div class="modal-footer">
<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Conform</button> <span style="opacity: 0;">......................................................</span><button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cancel</button>
    </div>
  </ng-template>
  