<div id="wrapper">
    <div style="float: right;"><button mat-raised-button class="up_btn" routerLink="/login" >Admin Login</button></div>
    <mat-card class="example-card">
        <br>
        <mat-card-header>
          Employee Login
        </mat-card-header>
        <br>
        <mat-card-content>
                <mat-icon class="icon_1">account_circle</mat-icon>

                <form [formGroup]="LoginForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Enter your name" formControlName="emp_email" autocomplete="false">
                </mat-form-field>
                <mat-icon class="icon_2">lock</mat-icon>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" formControlName="password" autocomplete="false">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="onLogin()">Login</button>
        </mat-card-actions><br><br>
        <p>Forgot Password</p>
      </mat-card>
      
      <div class="footer"><p>Powered By :- <a  href="https://www.greensoft.net.in/">Green Soft</a></p><p>  version: 0.01</p></div>
</div>