<div class="view_notice">
	<span class="notice_text">{{action_text}}</span>
</div>

<nav ngbNav #nav="ngbNav" style="border-bottom: 1px solid gray; height: 47px;">
	<!-- ////////////////////////////////////////// for Party table data start ////////////////////////////////// -->
	<ng-container ngbNavItem>
		<a ngbNavLink class="puechase_link" (click)="party()">Party</a>
		<ng-template ngbNavContent>
			<div class="content_area">
				<form [formGroup]="party_form">
					<div class="column">
						<mat-form-field appearance="fill">
							<mat-label>Party Id</mat-label>
							<input formControlName="party_id" matInput placeholder="Party Id" readonly="party_id">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Party Name</mat-label>
							<mat-select formControlName="party_id" (valueChange)="get_party($event)">
								<mat-option *ngFor="let party of party_data"
									[value]="party.party_id">{{party.party_name}}</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Party Mobile</mat-label>
							<input type="number" formControlName="party_mobile" matInput placeholder="Mobile No">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Party Email</mat-label>
							<input type="email" formControlName="party_email" matInput placeholder="Email">
						</mat-form-field>
						<br>
						<mat-form-field appearance="fill" class="textarea_box">
							<mat-label>Address</mat-label>
							<textarea type="text" formControlName="party_address" matInput
								placeholder="Address"></textarea>
						</mat-form-field>
					</div>
				</form>
				<div mat-dialog-action [align]="'end'">
					<button mat-raised-button (click)="save_next()" class="add_btn" type="submit"
						style="background-color: #0d5e58; color: white;"
						[disabled]="!party_form.valid">{{actionBtn}}</button>
				</div>
			</div>
		</ng-template>
	</ng-container>
	<!-- /////////////////////////////////////////// for Party table data end /////////////////////////////////////// -->

	<!-- /////////////////////////////////////////// for item table data start ////////////////////////////////////// -->
	<ng-container ngbNavItem>
		<a ngbNavLink class="puechase_link" (click)="items()">Item</a>
		<ng-template ngbNavContent>
			<div class="content_area">
				<form [formGroup]="item_form">
					<div class="column">
						<mat-form-field appearance="fill">
							<mat-label>Party Name</mat-label>
							<input formControlName="party_id_fk" matInput placeholder="Party">
						</mat-form-field>


						<mat-form-field appearance="fill">
							<mat-label>Category</mat-label>
							<mat-select formControlName="cat_id_fk" (valueChange)="get_single_cat($event)">
								<mat-option *ngFor="let cat of cat_data"
									[value]="cat.cat_id">{{cat.cat_name}}</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Item</mat-label>
							<mat-select formControlName="purch_item_des_pur_id_fk"
								(valueChange)="item_single_data($event)">
								<mat-option *ngFor="let item of single_item_data"
									[value]="item.item_id">{{item.item_name}}</mat-option>
							</mat-select>
						</mat-form-field>


						<mat-form-field appearance="fill">
							<mat-label>Unit</mat-label>
							<input formControlName="item_unit" matInput placeholder="Unit">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Rate</mat-label>
							<input formControlName="pur_item_des_rate" matInput placeholder="Rate">
						</mat-form-field><br>

						<mat-form-field appearance="fill">
							<mat-label>Quantity</mat-label>
							<input formControlName="pur_item_des_quantity" matInput placeholder="Quantity">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Discount</mat-label>
							<input formControlName="discount" matInput placeholder="Discount">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>GST</mat-label>
							<input formControlName="gst" matInput placeholder="gst">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Net Rate</mat-label>
							<input formControlName="net_rate" matInput placeholder="Net Rate">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Amount</mat-label>
							<input formControlName="pur_item_des_amount" matInput placeholder="Amount">
						</mat-form-field><br>

						<input formControlName="admin_id_fk" ngModel={{admin_id}} readonly hidden type="number">

						<!-- <mat-form-field appearance="fill" class="text_amount">
							<mat-label>Amount</mat-label>
							<input formControlName="amount" matInput placeholder="Amount">
						</mat-form-field><br> -->

						<mat-icon class="addButton" (click)="des_next()">add</mat-icon>
					</div>
				</form>

				<!-- ////////////////////////////////// for Party description /////////////////// -->

				<div class="cotainer">
					<form>
						<div class="mat-elevation-z8">
							<table mat-table [dataSource]="dataSource" matSort id="table">
								<ng-container matColumnDef="slno">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>SL NO.</th>
									<td class="data" mat-cell *matCellDef="let row; let i = index;">
										{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
								</ng-container>

								<ng-container matColumnDef="purch_item_des_item_id_fk">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.purch_item_des_item_id_fk}}
									</td>
								</ng-container>


								<ng-container matColumnDef="purch_item_des_pur_id_fk">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.purch_item_des_pur_id_fk}}
									</td>
								</ng-container>

								<ng-container matColumnDef="party_name">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Party</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.party_name}}</td>
								</ng-container>

								<ng-container matColumnDef="item_unit">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.item_unit}}</td>
								</ng-container>

								<ng-container matColumnDef="gst">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>GST</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.gst}}</td>
								</ng-container>

								<ng-container matColumnDef="pur_item_des_rate">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.pur_item_des_rate}}</td>
								</ng-container>

								<ng-container matColumnDef="pur_item_des_quantity">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.pur_item_des_quantity}}</td>
								</ng-container>

								<ng-container matColumnDef="net_rate">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Net Rat</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.net_rate}}</td>
								</ng-container>

								<ng-container matColumnDef="discount">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Discount</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.discount}}</td>
								</ng-container>
								<ng-container matColumnDef="pur_item_des_amount">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.pur_item_des_amount}}</td>
								</ng-container>

								<ng-container matColumnDef="Action">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
									<td class="data" mat-cell *matCellDef="let row"> <mat-icon>delete</mat-icon></td>
								</ng-container>

								<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
								<tr class="mat-row" *matNoDataRow>
									<td class="mat-cell" colspan="4">No data show</td>
								</tr>
							</table>
							<mat-paginator #paginatorRef [pageSizeOptions]="[5]"
								aria-label="Select page of users"></mat-paginator>
						</div>
					</form>
				</div>
			</div>

		</ng-template>
	</ng-container>
	<!-- ///////////////////////////////////////// for item table data end ///////////////////////////////////////// -->

	<!-- /////////////////////////////////////// for final bill  table data start ////////////////////////////////// -->

	<ng-container ngbNavItem><br>
		<a ngbNavLink class="puechase_link" (click)="final_bill()">Final bill</a>
		<button id="billnobtn">Bill Ref.No: {{purch_bill_no}} </button>

		<ng-template ngbNavContent>
			<div class="content_area">
				<form [formGroup]="final_form">
					<div class="column">

						<mat-form-field appearance="fill">
							<mat-label>Party by:</mat-label>
							<input formControlName="item_sale_by" matInput placeholder="Party by">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Basic Amount</mat-label>
							<input formControlName="item_basic_amount" matInput placeholder="Basic Amount">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>GST</mat-label>
							<input formControlName="item_gst" matInput placeholder="GST">
						</mat-form-field>


						<mat-form-field appearance="fill">
							<mat-label>Discount</mat-label>
							<input formControlName="item_discount" matInput placeholder="item_discount">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Net Amount</mat-label>
							<input formControlName="item_amount" matInput placeholder="Net Amount">
						</mat-form-field><br>

						<mat-form-field appearance="fill">
							<mat-label>Backdues</mat-label>
							<input formControlName="item_backdues" matInput placeholder="Backdues">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>R/O</mat-label>
							<input formControlName="item_ro" matInput placeholder="RO">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Total Amount</mat-label>
							<input formControlName="item_total_amount" matInput placeholder="total amount">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Paid</mat-label>
							<input formControlName="item_paid_amount" matInput placeholder="Paid">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Dues</mat-label>
							<input formControlName="item_dues" matInput placeholder="Dues">
						</mat-form-field>
						<br>
						<mat-form-field appearance="fill">
							<mat-label>Upload Bill</mat-label>
							<input formControlName="bill_img" matInput>
						</mat-form-field>

						<mat-form-field appearance="fill" class="date_box">
							<mat-label>Date</mat-label>
							<input formControlName="final_bill_date" matInput [matDatepicker]="picker">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
					</div>
					<!-- ---------------------------------------------Change--------------------------------------- -->

					<div mat-dialog-action [align]="'end'">
						<button mat-raised-button (click)="finalsubmit()" class="add_btn" type="submit"
							style="background-color: #0d5e58; color: white;">{{actionBtn1}}</button>
					</div>


				</form>
			</div>
		</ng-template>
	</ng-container>
	<!-- ////////////////////////////////////////// for final bill  table data end ///////////////////////////// -->

</nav>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
<!-- <div class="footer">Powered by :Greensoft</div> -->