<div class="view_notice">
	<span class="notice_text">{{action_text}}</span>
</div>

<nav ngbNav #nav="ngbNav" style="border-bottom: 1px solid gray; height: 47px;">
	<!-- ////////////////////////////////////////// for Party Form data start ////////////////////////////////// -->
	<ng-container ngbNavItem>
		<a ngbNavLink class="puechase_link" (click)="party()">Party</a>
		<ng-template ngbNavContent>
			<div class="content_area">
				<form [formGroup]="party_form">
					<div class="column">
						<mat-form-field appearance="fill">
							<mat-label>Party Id</mat-label>
							<input formControlName="party_id" matInput placeholder="Party Id" readonly>
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Party Name</mat-label>
							<mat-select formControlName="party_id" (valueChange)="get_party($event)">
								<mat-option *ngFor="let party of party_data"
									[value]="party.party_id">{{party.party_name}}</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Party Mobile</mat-label>
							<input type="number" formControlName="party_mobile" matInput placeholder="Mobile No"
								readonly>
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Party Email</mat-label>
							<input type="email" formControlName="party_email" matInput placeholder="Email" readonly>
						</mat-form-field>
						<br>
						<mat-form-field appearance="fill" class="textarea_box">
							<mat-label>Address</mat-label>
							<textarea type="text" formControlName="party_address" matInput placeholder="Address"
								readonly></textarea>
						</mat-form-field>
					</div>
				</form>
				<div mat-dialog-action [align]="'end'">
					<button mat-raised-button (click)="save_next()" class="add_btn" type="submit"
						style="background-color: #0d5e58; color: white;"
						[disabled]="!party_form.valid">{{actionBtn}}</button>
				</div>
			</div>
		</ng-template>
	</ng-container>
	<!-- /////////////////////////////////////////// for Party End data end /////////////////////////////////////// -->

	<!-- /////////////////////////////////////////// for item Form data start ////////////////////////////////////// -->
	<ng-container ngbNavItem>
		<a ngbNavLink class="puechase_link" (click)="items()">Item</a>
		<ng-template ngbNavContent>
			<div class="content_area">
				<form [formGroup]="item_form">
					<div class="column">

						<input formControlName="pur_id_fk" ngModel={{pur_id_fk}} hidden>

						<mat-form-field appearance="fill">
							<mat-label>Party Name</mat-label>
							<input formControlName="party_id_fk" matInput placeholder="Party Name" readonly>
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Category</mat-label>
							<mat-select formControlName="cat_id_fk" (valueChange)="cat_data_single($event)">
								<mat-option *ngFor="let cat of cat_data"
									[value]="cat.cat_id">{{cat.cat_name}}</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Item</mat-label>
							<mat-select formControlName="item_id_fk" (valueChange)="item_single_data($event)">
								<mat-option *ngFor="let item of single_item_data"
									[value]="item.item_id">{{item.item_name}}</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Size</mat-label>
							<input formControlName="item_size" matInput placeholder="Size" readonly>
						</mat-form-field>
						<br>

						<mat-form-field appearance="fill">
							<mat-label>Weight</mat-label>
							<input formControlName="item_weight" matInput placeholder="Weight" readonly>
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Unit</mat-label>
							<input formControlName="item_unit" matInput placeholder="Unit" readonly>
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Rate</mat-label>
							<input formControlName="item_rate" matInput placeholder="Rate" (keyup)="total_rate_cal()">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Quantity</mat-label>
							<input formControlName="item_quantity" matInput placeholder="Quantity"
								(keyup)="total_rate_cal()">
						</mat-form-field>
						<br>

						<mat-form-field appearance="fill" class="total_amount">
							<mat-label>Total Amount</mat-label>
							<input formControlName="item_amount" matInput placeholder="Amount">
						</mat-form-field>
						<input formControlName="admin_id_fk" ngModel={{admin_id}} readonly hidden type="number">


						<mat-icon class="addButton" (click)="onAdd()">add</mat-icon>
					</div>
				</form>

				<!-- ////////////////////////////////// for Party description /////////////////// -->

				<div class="cotainer">
					<div class="count_search">
						<span class="notice_text"> Total :{{purch_dec_count}}</span>
						<div class="search">
							<input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
						</div>
					</div>
					<form>
						<div class="mat-elevation-z8">
							<table mat-table [dataSource]="dataSource" matSort id="table">
								<ng-container matColumnDef="slno">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>S.N.</th>
									<td class="data" mat-cell *matCellDef="let row; let i = index;">
										{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
								</ng-container>

								<ng-container matColumnDef="cat_name">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.cat_name}}
									</td>
								</ng-container>


								<ng-container matColumnDef="item_name">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.item_name}}
									</td>
								</ng-container>

								<ng-container matColumnDef="item_rate">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.item_rate}}</td>
								</ng-container>

								<ng-container matColumnDef="item_quantity">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.item_quantity}}</td>
								</ng-container>

								<ng-container matColumnDef="item_amount">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
									<td class="data" mat-cell *matCellDef="let row">{{row.item_amount}}</td>
								</ng-container>

								<ng-container matColumnDef="Action">
									<th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
									<td class="data" mat-cell *matCellDef="let row"> <mat-icon
											(click)="PurchItemDes(row)">delete</mat-icon></td>
								</ng-container>

								<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
								<tr class="mat-row" *matNoDataRow>
									<td class="mat-cell" colspan="7">No data show</td>
								</tr>
							</table>
							<mat-paginator #paginatorRef [pageSizeOptions]="[5]"
								aria-label="Select page of users"></mat-paginator>
						</div>
					</form>
				</div>
			</div>

		</ng-template>
	</ng-container>
	<!-- ///////////////////////////////////////// for item table data end ///////////////////////////////////////// -->

	<!-- /////////////////////////////////////// for final bill Form data start ////////////////////////////////// -->

	<ng-container ngbNavItem><br>
		<a ngbNavLink class="puechase_link" (click)="final_bill()">Final bill</a>
		<button id="billnobtn">Bill Ref.No: {{purch_bill_no}} </button>

		<ng-template ngbNavContent>
			<div class="content_area">
				<form [formGroup]="final_form">
					<div class="column">

						<mat-form-field appearance="fill">
							<mat-label>Basic Amount</mat-label>
							<input formControlName="basic_amount" matInput placeholder="Basic Amount">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Discount</mat-label>
							<input formControlName="purch_discount" matInput placeholder="Discount">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>GST</mat-label>
							<input formControlName="purch_gst" matInput placeholder="GST">
						</mat-form-field>


						<mat-form-field appearance="fill">
							<mat-label>Gross Amount</mat-label>
							<input formControlName="purch_gross_amount" matInput placeholder="Gross Amount">
						</mat-form-field>
						<br>

						<mat-form-field appearance="fill">
							<mat-label>Paid</mat-label>
							<input formControlName="purch_paid" matInput placeholder="Paid">
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Dues</mat-label>
							<input formControlName="purch_dues" matInput placeholder="Dues">
						</mat-form-field>

						<mat-form-field appearance="fill" class="bill_no">
							<mat-label>Memo Number</mat-label>
							<input formControlName="purch_memo_no" matInput placeholder="Bill Number">
						</mat-form-field>


						<input type="date" formControlName="purch_date" class="date_box">

						<br>

						<div class="upload_img">
							<label class="bill_uplaod">Upload Memo</label><br>
							<input class="bill_img" type="file" (change)="onFileSelect($event)">
						</div>

						<input formControlName="admin_id_fk" ngModel={{admin_id}} hidden type="number">

					</div>
					<!-- ---------------------------------------------Change--------------------------------------- -->

					<div mat-dialog-action [align]="'end'">
						<button mat-raised-button (click)="finalsubmit()" class="add_btn" type="submit"
							style="background-color: #0d5e58; color: white;">{{actionBtn1}}</button>
					</div>
				</form>
			</div>
		</ng-template>
	</ng-container>
	<!-- ////////////////////////////////////////// for final bill form data end ///////////////////////////// -->

</nav>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
<!-- <div class="footer">Powered by :Greensoft</div> -->