<div class="main_thumbnail">
   
    <a routerLink="/sale">
        <div class="thumbnail">
            <mat-icon>local_grocery_store</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_sale}}</b></span><br>
            <span style="color:#14595c;">Sale</span>
        </div>
    </a>

    <a routerLink="/dues">
        <div class="thumbnail">
            <mat-icon>payment</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_dues}}</b></span><br>
            <span style="color:#14595c;">Dues</span>
        </div>
    </a>

    <a routerLink="/reciept">
        <div class="thumbnail">
            <mat-icon>receipt</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_recive}}</b></span><br>
            <span style="color:#14595c;">Reciept</span>
        </div>
    </a>

    <a routerLink="/expense">
        <div class="thumbnail">
            <mat-icon>monetization_on</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_expense}}</b></span><br>
            <span style="color:#14595c;">Expense</span>
        </div>
    </a>
    </div>
