#wrapper{
    margin-top: 63px;
}

.view_notice {
    height: 40px;
    width: 100%;
    background-color: #0b4648;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

#print_sale_report {
    position: relative;
    top: -5px;
    left: 2px;
    cursor: pointer;
}
.text_box{
    width: 152px;
    float: right;
    padding: 31px 2px 1px 5px;
    border-bottom: 1px solid black;
}
.text_boxe{
    width: 200px;
    float: left;
    position: absolute;
    margin-left: 11px;
    padding: 35px 1px 2px 5px;
    border-bottom: 1px solid black;
    
}

/* -----------------------------------------------------------------change me------------------------------------------------------- */

mat-form-field {
    margin-right: 2px;
    width: 15%;
    height: 50px;
   
  }
  mat-datepicker-toggle{
    position: absolute;
    right: 2%;
    margin-top: -12px;
  }
 
.notice_text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 16px;}
.search_area{
    width: 100%;
    height: 53px;
}
.ppt{
    position: absolute;
    right: 3%
}
mat-icon {
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 30px;
}

#table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.trth {
    color: white;
    background-color: #0f575a;
    height: 40px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.example-full-width{
    height: 20px;
    width: 100px;
}
.box_text{
    height: 10px;
}


tr:nth-child(even) {
    background-color: whitesmoke;
    height: 35px;
}

tr:nth-child(odd) {
    height: 35px;
}

tr:hover {
    background-color: #0f575a;
    color: aliceblue;
    cursor: pointer;
}
.mat-row:hover>.mat-cell {
    color: white
}
ng-container {
    text-align: center;
}
.footer_amount{
    height:44px;
    width: 100%;
    background-color: #0f575a;
    position: fixed;
    bottom: 0px;
}
.total{    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:whitesmoke; 
    padding-left:136px;   
    margin-left:50px;    
    line-height:45px;
    float:left;
    margin-left:5%;
  
    
}
/* --------------------------------------------------------Media Query-------------------------------------------- */
@media(min-width: 280px) and (max-width: 350px){
   
    mat-form-field{
        width: 69px;
      
        
    }
}


@media (min-width: 350px) and (max-width: 420px){
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-left: 12px;
       font-size: 10px;
    }
    #wrapper{
        overflow-x: hidden;
    }
    .cotainer{
        overflow-x: auto;
    }
    mat-paginator{
        position: absolute;
        width: 100%;
    }
    mat-form-field{
        width: 86px;
        
    }
    table {
        width: 100%;
        
      }
   
    .text_box{
        width: 70px;
       margin-left: 5px;
      
    }
    .ppt{
        right: -25%;
        top: -17px;
    }
    mat-datepicker-toggle{
        right: -26%;
        top: -54%;
        position: absolute;
    }
    .trth{
        padding-left: 1px;
        font-size: 10px;
       
        
    }
    .footer_amount{
        margin-top: 204px; 
        position: fixed;
    }
    .total{
        padding-left: 1px;
        font-size: 11px;
    }
      }
    @media(min-width: 420px) and (max-width: 520px){
        #wrapper{
            overflow-x: hidden;
        }
        .cotainer{
            overflow-x: auto;
        }
        mat-paginator{
            position: absolute;
            width: 100%;
        }
        mat-form-field{
            width: 97px;
        }
        .text_box{
            width: 85px;
           margin-left: 10px;
        }
        mat-datepicker-toggle{
            position: absolute;
            right: -15px;
            margin-top: -27px;
        }
        .ppt{
            right: -21%;
            top: 4px;
        }
        th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
            padding-left: 19px;
            font-size: 12px;
        }
        .trth{
            font-size: 12px;
            padding-left: 0px;
        }
        .footer_amount{
            margin-top: 212px;
        }
        .total{
            padding-left: 0px;
            font-size: 12px;
        }
    }
    @media (min-width: 520px) and (max-width: 720px){
        #wrapper{
            overflow-x: hidden;
        }
        .cotainer{
            overflow-x: auto;
        }
        mat-paginator{
            position: absolute;
            width: 100%;
        }
        mat-form-field{
            width: 105px;
        }
        mat-datepicker-toggle{
            position: absolute;
            right: -15px;
            margin-top: -27px;
        }
        .ppt{
            right: -21%;
            top: 4px;
        }
        th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
            padding-left: 16px;
            font-size: 12px;
        }
       
        .trth{
            padding-left: 0px;
        }
        .footer_amount{
           margin-top: 212px; 
        }
        .total{
            padding-left: 11px;
        }
    }
    @media(min-width: 720px) and (max-width: 1024px){
        #wrapper{
            overflow-x: hidden;
        }
        .cotainer{
            overflow-x: auto;
        }
        mat-paginator{
            position: absolute;
            width: 100%;
        }
        mat-form-field{
            width: 100px;
        }
        .text_box{
            width: 75px;
           margin-left: 10px;
        }
        mat-datepicker-toggle{
            right: -16px;
            top: -16px;
           
        }
        .ppt{
            right: -15px;
            top: -16px; 
        }
        th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
            padding-left: 10px;
            font-size: 12px;
        }
        .trth{
            padding-left: 15px;
        }
        .footer_amount{
            margin-top: 212px;
            position: fixed;
        }
        .total{
            padding-left: 39px;
        }
    }
    @media(min-width: 1024px) and (max-width: 1240px){
        #wrapper{
            overflow-x: hidden;
        }
        .cotainer{
            overflow-x: auto;
        }
        mat-paginator{
            position: absolute;
            width: 100%;
        }
        th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
            padding-left: 15px;
        }
        mat-form-field{
            width: 140px;
        }
        .trth{
            padding-left: 35px;
        }
        .footer_amount{
            margin-top: 212px;
            position: fixed;
        }
        .total{
            padding-left: 91px;
        }
    }
    @media(min-width: 1240px) and (max-width: 1440px){
        th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
            padding-left: 15px;
        }
        .trth{
            padding-left: 50px;
        } 
        .footer_amount{
            margin-top: 30%;
        }
        .total{
            padding-left: 91px;
        }
    }



























/* @media(max-width: 420px) {




    #wrapper{
        overflow-x: hidden;
    }
    .cotainer{
        overflow-x: auto;
    }
    mat-paginator{
        overflow-x: fixed;
    }
    mat-form-field{
        width: 90px;
    }
    .text_boxe{
        width: 89px;
        margin-left: 13px;
        padding: 35px 1px 2px 0px;
    }
    .text_box{
        width: 65px;
    }
    .trth{
        padding-left: 1px;
        font-size: 10px;
        
    }
    .footer_amount{
        width: 100%;
        margin-top: 137px;
       
 
    }
    .total{
        padding-left: 0px;
        margin-left: 12px;
        font-size: 12px;
    }
}

@media(max-width: 520px){
    mat-form-field{
        width: 90px;
    }
    .text_boxe{
        width: 89px;
        margin-left: 13px;
        padding: 35px 1px 2px 0px;
    }
    .text_box{
        width: 70px;
    }
    .trth{
        padding-left: 0px;
        font-size: 10px;
        
    }
    .total{
        padding-left: 11px;
        margin-left: 12px;
        font-size: 12px;
    }
    .footer_amount{
        width: 100%;
        margin-top: 192px;
    }
}
@media(max-width:620px){
    mat-form-field{
        width: 90px;
    }
    .text_box{
        width: 70px;
    } 
    .text_boxe{
        width: 70px;
    }  
    .trth{
        padding-left: 0px;
        font-size: 10px;
        
    }                                                                            
}
@media(min-width: 620px) and (max-width: 840px){
  
    mat-form-field{
        width: 90px;
    }
    .ppt{
        padding-left: 10px;
     
    }
}
    
    
  */

		

