.column {
  width: 200px;
  height: auto;
  float: left;
}

.column mat-form-field {
  width: 90%;
}
form {
  padding-left: 18px;
}
.example-spacer {
  flex: 1 1 auto;
  margin-bottom: 20px;
  color: rgb(20, 89, 92);
  font-size: 18px;
}

.material-icons {
  color: rgb(20, 89, 92);
  margin-bottom: 20px;
}

mat-toolbar {
  height: 40px;
  background: none;
  color: whitesmoke;
  padding: 0px;
  position: relative;
}
.column_1 mat-form-field {
  width: 382px;
}
#main_button{
  width: 190px;
  margin: auto;
}
.reset_btn {
  float: left;
  width: 80px;
  height: 40px;

}

.add_btn {
  width: 80px;
  height: 40px;
  float: right;
  background-color: green;
  color: white;
} 

.date_box {
  width: 200px;
}

@media (max-width:768px) {
  .column {
    width: 100%;
    height: auto;
  }

  .column mat-form-field {
    width: 100%;
  }
  .column_1 mat-form-field{
    width: 100%;
  }
}