<mat-toolbar>
    <span class="example-spacer">Add Expense</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="expenseForm">
        <div class="column">

            <mat-form-field appearance="fill">
                <mat-label>Expense Type</mat-label>
                <mat-select formControlName="expense_type" >
                    <mat-option *ngFor="let expence of expence_type" [value]="expence.name" >{{expence.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Expense Amount</mat-label>
                <input formControlName="expense_amount" matInput placeholder="Expense Amount" type="number">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label> Pay To</mat-label>
                <input formControlName="expense_pay_to" matInput placeholder="Pay To">
            </mat-form-field>

        </div>
       <div class="column">
            <mat-form-field appearance="fill">
                <mat-label>Mobile Number</mat-label>
                <input formControlName="expense_mobile" matInput placeholder="Contact" type="number"
                    onkeypress=" return this.value.length < 10"
                    oninput="if(this.value.length>=10) {this.value = this.value.sclice (0,10);}">
            </mat-form-field>

            <input type="date" formControlName="expense_date" class="date_box">

            <mat-form-field appearance="fill" class="exp_emp_conect">
                <mat-label>Employee</mat-label>
                <mat-select formControlName="expense_emp_id_fk">
                    <mat-option *ngFor="let emp of emp_data" [value]="emp.emp_id">{{emp.emp_name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="column_1">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input formControlName="expense_desc" matInput placeholder="Description">
            </mat-form-field>

        </div>
        <input formControlName="admin_id_fk" type="number" ngModel={{admin_id}} readonly hidden>

        <div mat-dialog-action [align]="'end'" id="main_button">
            <button mat-raised-button color="warn" class="reset_btn">Reset</button>
            <button mat-raised-button (click)="onSubmit()" class="add_btn" type="submit">{{actionBtn}}</button>
        </div>

    </form>
</div>