<mat-toolbar>
    <span class="example-spacer">Add Expense</span>   
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="expenseForm">
        <div class="column">
            <input type="number" formControlName="Expense_id" readonly hidden>
            <mat-form-field appearance="fill" class="text">
                <mat-label>Expense Type</mat-label>
                <input formControlName="expense_type" matInput placeholder="Expense Type" >
            </mat-form-field>

            <mat-form-field appearance="fill" class="text">
                <mat-label>Expense Amount</mat-label>
                <input formControlName="expense_amount" matInput placeholder="Expense Amount" >
            </mat-form-field>

            <mat-form-field appearance="fill" class="text">
                <mat-label> Expense Pay To</mat-label>
                <input formControlName="expense_pay_to" matInput placeholder="Pay To" >
            </mat-form-field>

            <mat-form-field appearance="fill" class="text" >
                <mat-label>Expense Contact</mat-label>
                <input formControlName="Expense_contact" matInput placeholder="Contact" >
            </mat-form-field>
        </div>
        <div class="column">
            <mat-form-field appearance="fill" class="date_box">
                <mat-label>Date</mat-label>
                <input formControlName="Expense_date" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="text">
                <mat-label>Description</mat-label>
                <input formControlName="expense_desc" matInput placeholder="Description">
            </mat-form-field>

            <mat-form-field appearance="fill" class="text">
                <mat-label>Employee</mat-label>
                <mat-select formControlName="expense_emp_id_fk">
                    <!-- <mat-option *ngFor="let roledata of roledata" [value]="roledata.role_id">{{roledata.role_name}}</mat-option> -->
                </mat-select>
            </mat-form-field>  
        
        <div mat-dialog-action [align]="'end'" id="main_button">
            <button mat-raised-button color="warn" (click)="resetexpense()" class="reset_btn">Reset</button>
            <button mat-raised-button (click)="onSubmit()" class="add_btn" type="submit"
                [disabled]="!expenseForm.valid">{{actionBtn}}</button>
        </div>

        </div>

        <input formControlName="expense_emp_id_fk" type="number" ngModel={{expense_emp_id}} readonly hidden>
        <input formControlName="admin_id_fk" type="number" ngModel={{admin_id}} readonly hidden>
    </form>
</div>