  <mat-toolbar>
    <span class="example-spacer">Add Area Allocate</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="area_allocateForm">
        <div class="column">
            <input type="number" formControlName="alct_area_id" readonly hidden>
            <input formControlName="alct_distance_id_fk" type="number" ngModel={{distance_id}} readonly hidden>
            <input formControlName="alct_area_emp_id_fk" type="number" ngModel={{area_emp_id}} readonly hidden>
            <input formControlName="alct_area_name_id_fk" type="number" ngModel={{area_name_id}} readonly hidden>

            <mat-form-field appearance="fill">
                <mat-label>Employee Name</mat-label>
                <mat-select formControlName="alct_area_emp_id_fk">
                    <!-- <mat-option *ngFor="let roledata of roledata" [value]="roledata.role_id">{{roledata.role_name}}</mat-option> -->
                </mat-select>
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <mat-label>Area</mat-label>
                <mat-select formControlName="alct_area_name_id_fk">
                    <!-- <mat-option *ngFor="let roledata of roledata" [value]="roledata.role_id">{{roledata.role_name}}</mat-option> -->
                </mat-select>
            </mat-form-field><br>
           
            <mat-form-field appearance="fill">
                <mat-label>Distance</mat-label>
                <input  formControlName="alct_area_dis" matInput placeholder="Distance">
            </mat-form-field><br>

            <mat-form-field appearance="fill" class="date">
                <mat-label>Choose a date</mat-label>
                <input formControlName="alct_area_date" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <mat-label>Discription</mat-label>
                <input  formControlName="alct_area_discription" matInput placeholder="Discription">
            </mat-form-field><br>
        </div>
        <input formControlName="admin_id_fk" type="number" ngModel={{admin_id}} readonly hidden>
        <div mat-dialog-action [align]="'end'">
            <button mat-raised-button color="warn" (click)="resetArea()" class="reset_btn">Reset</button>
            <button mat-raised-button (click)="onSubmit()" class="add_btn" type="submit"
                [disabled]="!area_allocateForm.valid">{{actionBtn}}</button>
        </div>
    </form>
</div>
