#wrapper {
    margin-top: 63px;
}

.view_notice {
    height: 40px;
    width: 100%;
    background-color: #0b4648;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

#add_item {
    position: relative;
    top: -5px;
    left: 2px;
    cursor: pointer;
}

.notice_text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 16px;
}

.count_search {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
    color: #0d5e58;
}

.count_search .notice_text {
    font-size: 16px;
}

.search input {
    border-bottom: 1px solid #0a4547;
    outline: none;
    padding: 7px 2px 6px 7px;
    background-color: whitesmoke;
    position: relative;
    top: -5px;
    left: 0px;
}

mat-icon {
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 30px;
}

#table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.trth {
    color: white;
    background-color: #0f575a;
    height: 40px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

tr:nth-child(even) {
    background-color: whitesmoke;
    height: 35px;
}

tr:nth-child(odd) {
    height: 35px;
}

tr:hover {
    background-color: #0f575a;
    color: aliceblue;
    cursor: pointer;
}

.mat-row:hover>.mat-cell {
    color: white
}

ng-container {
    text-align: center;
}

.mat-form-field {
    font-size: 18px;
    width: 100%;
}

/* //////////////////////////table media q//////////////////////////// */
@media(min-width:461px) and (max-width:1180px) {
    .notice_text {
        font-size: 14px;
    }

    .count_search .notice_text {
        font-size: 14px;
    }

    table th {
        font-size: 14px;
    }

    table td {
        font-size: 14px;
    }

}

@media (max-width:460px) {
    #wrapper {
        overflow-x: hidden;
    }

    .cotainer {
        overflow-x: auto;
    }

    mat-paginator {
        position: absolute;
        width: 100%;
    }

    .notice_text {
        font-size: 13px;
    }

    .count_search .notice_text {
        font-size: 13px;
    }

    table th {
        font-size: 13px;
    }

    table td {
        font-size: 13px;
    }

    th.mat-header-cell:first-of-type {
        padding-left: 13px;
    }

    th.mat-header-cell:last-of-type {
        padding-right: 0px;
        width: 0%;
    }

    td.mat-cell:first-of-type {
        padding-left: 20px;
    }

    td.mat-cell:last-of-type {
        padding-right: 0px;
        padding-left: 10px;
    }

}