<div class="main_thumbnail">
    <a routerLink="/party">
        <div class="thumbnail">
            <mat-icon>person</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_role}}</b></span><br>
            <span style="color: #14595c;">Party</span>
        </div>
    </a>

    <a routerLink="/unit">
        <div class="thumbnail">
            <mat-icon>ac_unit</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_emp}}</b></span><br>
            <span style="color: #14595c;">Unit</span>
        </div>
    </a>

    <a routerLink="/gst">
        <div class="thumbnail">
            <mat-icon>category</mat-icon><br>
            <span style="color:	rgb(255, 255, 255) "><b>{{total_cat}}</b></span><br>
            <span style="color: #14595c;">Gst</span>
        </div>
    </a>

    <a routerLink="/weigth">
        <div class="thumbnail">
            <mat-icon>line_weight</mat-icon><br>
            <span style=" color:rgb(255, 255, 255)"><b>{{total_item}}</b></span><br>
            <span style="color: #14595c;">Weight</span>
        </div>
    </a>

    <a routerLink="/category">
        <div class="thumbnail">
            <mat-icon>category</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_shop}}</b></span><br>
            <span style="color: #14595c;">Category</span>
        </div>
    </a>

    <a routerLink="/item">
        <div class="thumbnail">
            <mat-icon>group</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_spo}}</b></span><br>
            <span style="color: #14595c;">Item</span>
        </div>
    </a>

    <a routerLink="/customer">
        <div class="thumbnail">
            <mat-icon> supervisor_account </mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_slider}}</b></span><br>
            <span style="color: #14595c;">Customer</span>
        </div>
    </a>
    <a routerLink="/purchase">
        <div class="thumbnail">
            <mat-icon>area_chart</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_offer}}</b></span><br>
            <span style="color: #14595c;">Purchase</span>
        </div>
    </a>
    <a routerLink="/sale">
        <div class="thumbnail">
            <mat-icon>local_grocery_store</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_noti}}</b></span><br>
            <span style="color: #14595c;">Sale</span>
        </div>
    </a>

    <a routerLink="/cancel_bill">
        <div class="thumbnail">
            <mat-icon>lock</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_slider}}</b></span><br>
            <span style="color: #14595c;">Cancel Bill</span>
        </div>
    </a>
    <a routerLink="/expense">
        <div class="thumbnail">
            <mat-icon>work</mat-icon><br>
            <span style="color:	rgb(255, 255, 255)"><b>{{total_slider}}</b></span><br>
            <span style="color:#14595c;">Expense</span>
        </div>

        <a routerLink="/expiry">
            <div class="thumbnail">
                <mat-icon>help</mat-icon><br>
                <span style="color:	rgb(255, 255, 255)"><b>{{total_slider}}</b></span><br>
                <span style="color:#14595c;">Expiry</span>
            </div>
        </a>
