<div id="wrapper">
    <div class="view_notice">
      <span class="notice_text">Material Handover</span>
      <mat-icon id="add_item" (click)="add_materialhandover()">add_circle</mat-icon>
    </div>
    <div class="count_search">
      <span class="notice_text"> Total :{{mhcount}}</span>
      <div class="search">
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
      </div>
    </div>
    <div class="cotainer">
      <form>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort id="table">
            <ng-container matColumnDef="slno">
              <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>S.N.</th>
              <td class="data" mat-cell *matCellDef="let row; let i = index;">{{(paginatorRef.pageIndex *
                paginatorRef.pageSize)+(i+1)}}</td>
            </ng-container>
            <ng-container matColumnDef="emp_name">
              <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
              <td class="data" mat-cell *matCellDef="let row">{{row.emp_name}}</td>
            </ng-container>
            <ng-container matColumnDef="emp_mobile">
              <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
              <td class="data" mat-cell *matCellDef="let row">{{row.emp_mobile}}</td>
            </ng-container>  
            <ng-container matColumnDef="quantity">
              <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
              <td class="data" mat-cell *matCellDef="let row">{{row.quantity}}</td>
            </ng-container>
            <ng-container matColumnDef="mh_date">
              <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td class="data" mat-cell *matCellDef="let row">{{row.mh_date}}</td>
            </ng-container>
            <ng-container matColumnDef="item_name">
              <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
              <td class="data" mat-cell *matCellDef="let row">{{row.item_name}}</td>
            </ng-container>                         
            <ng-container matColumnDef="Action">
              <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
              <td class="data" mat-cell *matCellDef="let row"> <mat-icon (click)="editmaterialhandover(row)">edit</mat-icon></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data show"{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]"
            aria-label="Select page of users"></mat-paginator>
        </div>
      </form>
    </div>
  </div>
