<div id="wrapper">
  <div class="view_notice">
    <span class="notice_text">Reciept Details</span>
  </div>
  <div class="count_search">
    <span class="notice_text"> Total : {{recived_total}}</span>
    <div class="search">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </div>
  </div>
  <div class="cotainer">
    <form>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort id="table">
          <ng-container matColumnDef="slno">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>S.N.</th>
            <td class="data" mat-cell *matCellDef="let row; let i = index;">{{(paginatorRef.pageIndex *
              paginatorRef.pageSize)+(i+1)}}</td>
          </ng-container>

          <ng-container matColumnDef="reciept_customer">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
            <td class="data" mat-cell *matCellDef="let row">{{row.cust_name}}</td>
          </ng-container>

          <ng-container matColumnDef="reciept_bill_number">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Bill Number </th>
            <td class="data" mat-cell *matCellDef="let row">{{row.sale_bill_no}}</td>
          </ng-container>

          <ng-container matColumnDef="reciept_Gross_amount">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Back Dues</th>
            <td class="data" mat-cell *matCellDef="let row">{{row.back_dues | currency:'INR':true}}</td>
          </ng-container>


          <ng-container matColumnDef="reciept_back_dues">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Recived </th>
            <td class="data" mat-cell *matCellDef="let row">{{row.recived | currency:'INR':true}}</td>
          </ng-container>

          <ng-container matColumnDef="reciept_paid">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Current Dues</th>
            <td class="data" mat-cell *matCellDef="let row">{{row.current_dues | currency:'INR':true}}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Description<th>
            <td class="data" mat-cell *matCellDef="let row">{{row.description}}</td>
          </ng-container>

          <ng-container matColumnDef="reciept_current_dues">
            <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Current Date</th>
            <td class="data" mat-cell *matCellDef="let row">{{row.date}}</td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="7">No data show"{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]"
          aria-label="Select page of users"></mat-paginator>
      </div>
    </form>
  </div>
</div>