<div class="view_notice">
  <span class="notice_text">GST Details</span>
  <mat-icon id="add_gst" (click)="add_Gst()">add_circle</mat-icon>
</div>
<div class="count_search">
  <span class="notice_text"> Total :</span>
  <div class="search">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </div>
</div>
<div class="cotainer">
  <form>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort id="table">    
        <ng-container matColumnDef="slno">
          <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>SL NO.</th>
          <td class="data" mat-cell *matCellDef="let row; let i = index;">{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
        </ng-container>    
        <ng-container matColumnDef="gst_in_percentage">
          <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>GST(%)</th>
          <td  class="data"mat-cell *matCellDef="let row">{{row.gst_in_percentage}}</td>
        </ng-container>

        <ng-container matColumnDef="gst_cgst">
          <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>CGST(%)</th>
          <td class="data" mat-cell *matCellDef="let row">{{row.gst_cgst}}</td>
        </ng-container>

        <ng-container matColumnDef="gst_sgst">
          <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>SGST(%)</th>
          <td class="data" mat-cell *matCellDef="let row">{{row.gst_sgst}}</td>
        </ng-container>  

        <ng-container matColumnDef="gst_des">
          <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td class="data" mat-cell *matCellDef="let row">{{row.gst_des}}</td>
        </ng-container> 
              
        <ng-container matColumnDef="Action">
          <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td class="data" mat-cell *matCellDef="let row"> <mat-icon (click)="editGst(row)">edit</mat-icon></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data show"{{input.value}}"</td>
        </tr>
      </table>    
      <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>    
  </form>
</div>

