<div mat-dialog-title>
    <mat-toolbar>
        <span class="example-spacer">Add Category</span>
        <mat-icon mat-dialog-close>cancel</mat-icon>
    </mat-toolbar>
</div>
<div mat-dialog-content>
    <form [formGroup]="addcategory" novalidate>
        <input formControlName="cat_id" hidden>
        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <input formControlName="cat_name" matInput placeholder="Name">
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea class="textarea" formControlName="cat_desc" matInput
                placeholder=" Description"></textarea>
        </mat-form-field><br>
        <input formControlName="admin_id_fk" ngModel={{admin_id}} readonly hidden >
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" (click)="resetUnit()" class="reset_btn">Reset</button>
    <button mat-raised-button (click)="onSubmit()" class="add_btn" type="submit"
        [disabled]="!addcategory.valid">{{actionBtn}}</button>
</div>
