<mat-toolbar>
    <span class="example-spacer">Production</span>
    <mat-icon mat-dialog-close >cancel</mat-icon>
</mat-toolbar>
<span>Select Employee</span>
<div mat-dialog-content>

    <form [formGroup]="ProductionForm">
        <div class="column">
            <input type="number" formControlName="production_id" readonly hidden>
            <input formControlName="production_date" value="{{currentDate | date:'yyyy-MM-dd'}}" hidden>
            <mat-form-field appearance="fill">
                <mat-label>Employee</mat-label>
                <mat-select formControlName="emp_id_fk" (valueChange)="getEmpdata($event)">
                    <mat-option *ngFor="let empdata of empdata"
                        [value]="empdata.emp_id">{{empdata.emp_name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Mobile Number</mat-label>
                <input type="number" formControlName="emp_mobile" matInput placeholder="Mobile"
                    onkeypress="return this.value.length < 10;" oninput="if(this.value.length>=10) 
                {this.value = this.value.slice(0,10);}">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input type="text" formControlName="emp_address" matInput placeholder="Address">
            </mat-form-field>
        <br>
            <span>Add Item</span><br>
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select formControlName="cat_id_fk" (valueChange)="getCatdata($event)">
                    <mat-option *ngFor="let catdata of catdata"
                        [value]="catdata.cat_id">{{catdata.cat_name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Product</mat-label>
                <mat-select formControlName="product_id_fk">
                    <mat-option *ngFor="let productdata of product_single_data"
                        [value]="productdata.product_id">{{productdata.product_name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" >
              <mat-label>Labor Cost</mat-label>
              <input formControlName="labor_cost" matInput placeholder="labor cost" (keyup)="total_calc()">
          </mat-form-field>
          <br>

            <mat-form-field appearance="fill">
                <mat-label>Quantity</mat-label>
                <input formControlName="production_quantity" matInput placeholder="Quantity" (keyup)="total_calc()">
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Total Amount</mat-label>
                <input formControlName="total_amount" matInput placeholder="Total Amount" readonly>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input formControlName="production_desc" matInput placeholder="Description">
            </mat-form-field>
            <input formControlName="admin_id_fk" type="number" ngModel={{admin_id}} readonly hidden>
        </div><br><br><br>
        <button class="addbtn" (click)="Add()">Add</button>
    </form>
    <div class="cotainer">
        <div class="count_search">
          <span class="notice_text"> Total :{{productioncount}}</span>
          <div class="search">
            <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
          </div>
        </div>
        <div id="table_area">
          <form>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort id="table">
                <ng-container matColumnDef="slno">
                  <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>S.N.</th>
                  <td class="data" mat-cell *matCellDef="let row; let i = index;">{{(paginatorRef.pageIndex *
                    paginatorRef.pageSize)+(i+1)}}</td>
                </ng-container>
    
                <ng-container matColumnDef="emp_name">
                  <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
                  <td class="data" mat-cell *matCellDef="let row">{{row.emp_name}}</td>
                </ng-container>
    
                <ng-container matColumnDef="cat_name">
                  <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                  <td class="data" mat-cell *matCellDef="let row">{{row.cat_name}}</td>
                </ng-container>
    
                <ng-container matColumnDef="product_name">
                  <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
                  <td class="data" mat-cell *matCellDef="let row">{{row.product_name}}</td>
                </ng-container>
    
                <ng-container matColumnDef="production_quantity">
                  <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                  <td class="data" mat-cell *matCellDef="let row">{{row.production_quantity}}</td>
                </ng-container>
  
                <ng-container matColumnDef="labor_cost">
                  <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Labor Cost</th>
                  <td class="data" mat-cell *matCellDef="let row">{{row.labor_cost}}</td>
                </ng-container>
                <ng-container matColumnDef="total_amount">
                  <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
                  <td class="data" mat-cell *matCellDef="let row">{{row.total_amount}}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                  <td class="data" mat-cell *matCellDef="let row"> <mat-icon (click)="del_production(row)">delete</mat-icon></td>
                </ng-container>
    
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="8">No data show"{{input.value}}"</td>
                </tr>
              </table>
            </div>
          </form>
        </div>
        <mat-paginator #paginatorRef [pageSizeOptions]="[5]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>

