<mat-toolbar>
    <span class="example-spacer">Add Area</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="areaForm">
        <div class="column">
            <input type="number" formControlName="emp_id" readonly hidden>

            <mat-form-field appearance="fill">
                <mat-label>Area</mat-label>
                <input formControlName="area_name" matInput placeholder="Area">
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <mat-label>Distance(KM)</mat-label>
                <input type="number" formControlName="area_distance" matInput placeholder="Distance(KM)">
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <mat-label>Discription</mat-label>
                <input formControlName="area_desc" matInput placeholder="Discription">
            </mat-form-field>
        </div>
        <input type="number" readonly [ngModel]="admin_id" formControlName="admin_id_fk" hidden>

        <div mat-dialog-action [align]="'end'">
            <button mat-raised-button color="warn" (click)="resetArea()" class="reset_btn">Reset</button>

            <button mat-raised-button (click)="onSubmit()" class="add_btn" type="submit"
                [disabled]="!areaForm.valid">{{actionBtn}}</button>
        </div>
    </form>
</div>