<mat-toolbar>
    <span class="example-spacer">Add Expence Type</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="expencetypeform" novalidate>
        <input formControlName="id" >
        <mat-form-field appearance="fill">
            <mat-label>Expence Type</mat-label>
            <input formControlName="name" matInput placeholder="Type">
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea class="textarea" formControlName="desc" matInput
                placeholder=" Description"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" class="reset_btn" (click)="reset_form()">Reset</button>
    <button mat-raised-button (click)="onSubmit()" class="add_btn" type="submit"
        [disabled]="!expencetypeform.valid">{{actionBtn}}</button>
</div>
